// Place all the styles related to the MappyAsyncs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body { height: 100%; width: 100%; margin: 0px }

#map { height: 100%; width: 100% }

.button-custom {
    background-color: #FFFFFF;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    z-index:  800 !important;    
	background-position: 50% 50%;
    display: block;
    box-shadow: 5px 5px 5px #332c2c !important;
  }

// .sidebar-icon { background-image: url(settings-18-26.png); }
.sidebar-icon { background-image: url(info-26.png); }
.finger-icon { background-image: url(finger-and-thumb-26.png); }
.hand-icon { background-image: url(whole-hand-26.png); }


.cursor-pointer {
    cursor: pointer !important;
}

.leaflet-touch .leaflet-control-layers-toggle {
	width: 36px !important;
	height: 36px !important;
}

/* leaflet css overrides */
.leaflet-popup-content-wrapper {
    background: #dbe7ea !important;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important
}
  
.leaflet-popup-tip {
    background: #dbe7ea !important;
}

.leaflet-popup-content-wrapper {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4) !important;
}

.leaflet-control-layers {
    box-shadow: 5px 5px 5px #332c2c !important;
}

.leaflet-control-geocoder {
	// border-radius: 4px;
	// background: white;
	// min-width: 26px;
    // min-height: 26px;
    box-shadow: 5px 5px 5px #332c2c !important;
}

.leaflet-sidebar {
    box-shadow: 5px 5px 5px #332c2c !important;
}

.leaflet-control-zoom {
    box-shadow: 5px 5px 5px #332c2c !important;
}

.leaflet-control-geocoder-icon {
	background-image: url(search-9-26.png) !important;
}

.highlight-background-message {
    /* background-color: #dbe7ea !important; */
    background-color: rgb(197, 9, 9) !important;
    color: #ffffff
}

// .custom-control-message {
//     width: 400px;
//     height: 25px;
//     z-index:  800;    
//     font-size: 1.25em !important;
//     font-family: 'Times New Roman', Times, serif;
// }
.leaflet-sidebar .leaflet-control .close {
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc) !important
}

.message {
	position: absolute; right: 10px; bottom: 30px;
	box-shadow: 8px 8px 5px #444;
	background-color: rgb(245, 245, 245);
	z-index: 1000;
	font-family: sans-serif;
	color: #5e9ca0; cursor: pointer;
    padding: 15px 30px; display: inline-block;
    border: 1px solid #333;
    // background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
	visibility: hidden;
}
.message:hover { background-color: #EEE; }
.message.active { color: rgb(63,81,181); }

.shadowbox {
    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  }
