// Place all the styles related to the MappyAsyncs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body { height: 100%; width: 100%; margin: 0px }

.button-tool {
    background-color: #FFFFFF;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    z-index:  800;    
	cursor: -webkit-grab;
	cursor:    -moz-grab;
}
.button-sidebar {
    background-image: url(settings-18-26.png);
 }

 .button-hand {
    background-image: url(finger-and-thumb-26.png);
 }

 .button-pointer {
    background-image: url(whole-hand-26.png);
 }