<!DOCTYPE html>
<html>
<head>
	<%# <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %> %>

	<%# <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDo0NtFEmgkNmZZwrxpDqyXLJDTor37EV8&libraries=drawing,places,geometry" type="text/javascript" > %>
	<%# </script> %>

	<title>MappyAsync</title>

</head>

<body>

	<!-- <div id='flip'>Click here for more information about this website.</div> -->
<!-- 	<div id="myNav" class="overlay" onclick="closeNav();"><a class="closebtn" onclick="closeNav();">&times;</a><div class="overlay-content"><img src="/assets/map 2.png" height="128" width="128"></br></br>Given a polygon on the map, calculate and display population and housing counts based on 2010 U.S. Census Blocks.</br></br>Tools / Components</br>Ruby - Rails - JS -<a style=color:#27d84d href= "https://www.route360.net" target="_blank">Route360&deg</a>- Google Maps API - PostgreSQL/PostGIS - 2010 USA Census Data</br></br>By clicking on the map with the marker tool (upper left), a 3 minute isochrone (drive-time) polygon is calculated using Route360 REST Services and is subsequently inserted into a PostgreSQL/PostGIS table.  The isochrone polygon is then buffered and used to do a spatial query in PostgreSQL to determine intersection of the buffered isochrone polygon against census block polygons.</br></br>Uniform distribution of population and housing counts are assumed within a census block polygon.</br></br>The buffered polygon is then displayed on the map.  Within the buffered polygon is also displayed the original Route360 returned isochrone polygon(s) and line work.</br> (cool stuff, check them out ==><a style=color:#27d84d href="https://www.route360.net" target="_blank">Route360.net</a>)</br></br>PostgreSQL is hosted on a Raspberry Pi 2 board running Raspbian 8 (Jessie).  The Census Block table in the database contains over 11 millions records covering the entire United States.</br></br>PostgreSQL queries executed on the Raspberry Pi 2 is a known speed bottleneck for this application.  The Raspberry Pi was deployed for personal amusement.</br></br>This website is hosted at<a href="https://www.heroku.com/" target="_blank" style=color:rgb(51,0,138) font-family: 'Lato', sans-serif;>Heroku</a>using a free dyno.</br></br>This website is a work in progress.  There are known issues that will be addressed, maybe some enhancements.  This website is for demonstration purposes.  Thanks for visiting.</br></br><a style=color:yellow href="https://github.com/greghorne/mappy" target="_blank">GitHub Repository</a></div></div> -->
<%# 
	<%# <div id="myNav" class="overlay" onclick="closeNav();"><a class="closebtn" onclick="closeNav();" style=cursor:pointer>&times;</a><div class="overlay-content"><h1>MappyData</h1><img src="/assets/map 2.png" height="96" width="96"></br></br>Given a polygon on the map, calculate and display population and housing counts based on 2010 U.S. Census Blocks.</br></br>By clicking on the map with the marker tool (upper left), a 3 minute isochrone (drive-time) polygon is calculated using Route360 REST Services and is subsequently inserted into a PostgreSQL/PostGIS table.  The isochrone polygon is then buffered and used to do a spatial query in PostgreSQL to determine intersection of the buffered isochrone polygon against census block polygons.</br></br>Uniform distribution of population and housing counts are assumed within a census block polygon.</br></br>The buffered polygon is then displayed on the map.  Within the buffered polygon is also displayed the original Route360 returned isochrone polygon(s) and line work.</br> (cool stuff, check them out ==><a class="r360_text" target="_blank" href="https://www.route360.net">Route360.net</a>)</br></br>PostgreSQL is hosted on a<a class="rpi" target="_blank" href="https://www.raspberrypi.org/products/raspberry-pi-2-model-b">Raspberry Pi 2</a>board running Raspbian 8 (Jessie).  The Census Block table in the database contains over 11 millions records covering the entire United States.</br></br>PostgreSQL queries executed on the Raspberry Pi 2 is a known speed bottleneck for this application.  The Raspberry Pi was deployed for personal amusement.</br></br>This website is hosted at<a href="https://www.heroku.com/" target="_blank" class="heroku_text">Heroku</a>using a hobby dyno.</br></br>This website is a work in progress.  There are known issues that will be addressed, maybe some enhancements.  This website is for demonstration purposes.  Thanks for visiting.</br></br><a style=color:yellow href="https://github.com/greghorne/mappy" target="_blank">GitHub Repository</a></br></br></br><a href="https://www.ruby-lang.org" target="_blank"><img src="/assets/Ruby_logo.svg" class="image_type1"></a>&nbsp;&nbsp;<a href="http://rubyonrails.org" target="_blank"><img src="/assets/rails1.svg" class="image_type1"></a>&nbsp;<a href="https://www.javascript.com" target="_blank"><img src="/assets/js2.png" class="image_type1"></a>&nbsp;&nbsp;<a href="https://www.postgresql.org" target="_blank"><img src="/assets/PG.png" class="image_type1"></a>&nbsp;&nbsp;<a href="https://postgis.net" target="_blank"><img src="/assets/PostGIS.jpeg" class="image_type1"></a>&nbsp;&nbsp;<a href="https://www.route360.net" target="_blank"><img src="/assets/route360_logo.svg" class="image_type2"></a>&nbsp;&nbsp;<a href="https://developers.google.com/maps/" target="_blank"><img src="/assets/googlemaps.png" class="image_type1"></a><a href="https://www.raspberrypi.org/" target="_blank"><img src="/assets/rpi.png" height="40" width="125"></a></div></div>

	<input id='pac-input' class='controls' type='text' placeholder='Search Box' style='border-radius:3px; background-color:#fff; visibility: hidden'>
	 %>
	<div id="map" style="height: 100%; width=100%">yo world</div>
	<div>hello from view...</div>
	




</body>
</html>
