<link rel="icon" type="image/x-icon" href="favicon.ico">
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

<%= stylesheet_link_tag "application" %>

<style>


</style>

<div id="map">
	<div id="dialog" title="Basic dialog" style="z-index: 800"></div>	
	<div id="sidebar">
		<h1>leaflet-sidebar</h1>
	</div>
	<%# <div id="selectionBar" class="button-group"> %>
		<%# <div id="btn-union" onclick="changeMode(&apos;union&apos;)" class="button active">union</div>
		<div id="btn-intersection" onclick="changeMode(&apos;intersection&apos;)" class="button">intersection</div> %>
		<%# <div id="btn-average" onclick="changeMode(&apos;average&apos;)" class="button">MappyAsync</div> %>
		<div id="message-popup" class="message">filler message</div>
		<%# <div id="message-invalid-xy" class="button">Calculations are limited to within U.S. borders.<div id="message-provider-checkbox"> %>
		<%# <div id="message-reverse-geocode" class="button">Unable to reverse geocode location.<div id="message-provider-checkbox"> %>
	<%# </div> %>
</div>




